<h1>Emprego Já</h1>

  <% @jobs.each do |job| %>
    <h1> <%= link_to job.title, job %> </h1>
    <p><%= job.company.name %></p>
    <p><%= job.location %></p>
    <% if job.featured? %>
      <strong>Destaque</strong>
    <% end %>
  <% end %>

  <h1>Empresas</h1>

  <%= @companies.each do |company| %>
  <p><%= link_to company.name, company %></p>
  <% end %>
